@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

:root {
    --primary-color:#1c77c3; --secondary-color:#39a9db; 
    --accent1-color:#40bcd8; --accent2-color:#f39237;
}


* {
    margin: 0;
    height: auto;
    max-width: 100%;


    
    
}

div img{
    padding: 150px;
    margin-top: -150px;
}

div h1 {
    padding: 8px;
    font-family: "Original Surfer", sans-serif;
    position: absolute;
    left: 360px;
    top: 300px;
    opacity: 0.7;
    background-color: black;
    color:  var(--accent2-color);
    font-size: 50px;
}

section h2 {
    padding: 20px;
    margin: 0;
    color: var(--accent2-color);
    left: 200px;
}

section p {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    width: 700px;
}

section h3 {
    padding: 20px;
    margin: 0;
    color: var(--accent2-color);
    font-size: 25px;
}


.hero img{
    position: absolute;
    width: 100%;
    height: auto;
}

section img {
    display: block;
    width: 550px;
} 

.sociallinks a {
    text-decoration: none;
}

 article p {
    /* position: absolute; */
    padding: 10px;
    top: 450px;
    /* border: 2px solid black; */
    /* width: 700px; */
    text-align: justify;
    
}

.happymoment {
    float: right;
    width: 200px;
    padding: 5px;
    position: relative;
    /* border: 1px solid #40bcd8; */
    margin: 3px;
}

footer p {
    padding: 2px;
    margin: 0;
}

article {
    overflow: auto;
    padding: 20px;
    width: 900px;
    position: absolute;
    margin-top: -400px;
    margin-left: 220px; 
    background-color:var(--accent1-color) ;
    opacity: 0.8;
}

figcaption {
    padding: 10px;
    color: #39a9db;
    font-size: 20px;
}

header img {
    padding: o;
}

header nav {
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    align-items: center;
}

.logo {
    grid-column: 1;
}

.links {
    grid-column: 2;
    display: flex;
    justify-content: space-around;
}

