@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rock+Salt&display=swap');


:root {
    --primary-color: #1C77C3;
    --secondary-color: #39A9DB;
    --accent1-color: #40BCD8;
    --accent2-color: #F39237;

    --heading-font: "Rock Salt", sans-serif;
    --paragraph-font: "open Sans", sans-serif;

    --nav-background-color: #0d0669;
    --nav-link-color: #d7ebfc;
    --nav-hover-link-color: #0d0669;
    --nav-hover-background-color: #d7ebfc;
}



* {
    box-sizing: border-box;
}

body {
    font-size: 18px;

}
header,
main,
footer {
    max-width: 1000px;
    margin: 0 auto;
}


img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: var(--heading-font);

}

main h1 {
    font-family: "Roboto", sans-serif;
}

.history {
    padding: 10px;
    margin: 0;
    color: var(--accent2-color);
   
}

section p {
    padding: 20px;
    
    background-color: beige;
}

section h3 {
    padding: 10px;
    margin: 0;
    color: var(--accent2-color);
}

.hero {
    position: relative;
}

.hero img {

    width: 100%;

}

.hero h1 {
    position: absolute;
    top: 50px;
    left: 20px;
    right: 20px;
    text-align: center;
    padding: .5em 0;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    opacity: 0.6;
    font-size: 1rem;
}


.sociallinks a {
    text-decoration: none;
}

.sociallinks img {
    width: 60px;
}

article p {
    /* position: absolute; */
    padding: 10px;
    top: 450px;
    /* border: 2px solid black; */
    /* width: 700px; */
    text-align: justify;
    font-weight: bold;
}

.hero article .happymoment {
    float: right;
    width: 200px;
    padding: 5px;
    margin: 3px;
}

footer p {
    padding: 2px;
    margin: 0;
}

article {
    padding: 20px;
    position: absolute;
    top: 150px;
    left: 20px;
    right: 20px;
    background-color: var(--accent1-color);
    opacity: 0.8;
}

figcaption {
    padding: 10px;
    color: #39a9db;
    display: block;
    font-weight: 700;
}



header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
   
   
}

.logo {
    grid-column: 1;
    padding: 10px;
    width: 100px;
}

.links {
    grid-column: 2;
    display: flex;
    justify-content: space-around;
    background-color: var(--nav-background-color);
}
.links a {
    text-decoration: none;
    padding: 1em;
    color: var(--nav-link-color);
    font-weight: 700;
}
.links a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

figure {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
    width: 230px;
    flex-wrap: wrap;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #40bcd8;
    margin: auto;
    text-align: center;
    color: white;
    font-weight: bold;

}

.sociallinks {
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: 800;
    text-decoration: none;

}



footer nav {
    display: block;

}

.oldpic {
    float: right;
    width: 300px;
}

main h1 {
    text-align: center;
    background-color: #1C77C3;
    color: white;
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

}

.address, .phone, .email {
    width: 150px;
    display: inline;
    justify-content: space-around;

}

.map {
    padding: 2px;
    margin: 0;
}

form {
    background-color:#eee ;
    border: 1px;
    width: 650px;
    padding: 5px;
    border-radius: 0.5rem ;
    display: grid;
    box-sizing: border-box;
}

fieldset {
    display: grid;
    grid-gap: .2rem;
    margin: 1rem;
    border: 1px solid regba(0, 0, 0, 0.2)
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
    
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border-radius: .5rem;
    padding: .75;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

label {
    font-weight: 700;
}