@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rock+Salt&display=swap');


:root {
    --primary-color: #1C77C3;
    --secondary-color: #39A9DB;
    --accent1-color: #40BCD8;
    --accent2-color: #F39237;

    --heading-font: "Rock Salt", sans-serif;
    --paragraph-font: "open Sans", sans-serif;

    --nav-background-color: #0d0669;
    --nav-link-color: #d7ebfc;
    --nav-hover-link-color: #0d0669;
    --nav-hover-background-color: #d7ebfc;
}



* {
    box-sizing: border-box;
}

body {
    font-size: 18px;

}
header,
main,
footer {
    max-width: 1000px;
    margin: 0 auto;
}


img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: var(--heading-font);

}

main h1 {
    font-family: "Roboto", sans-serif;
}

.history {
    padding: 10px;
    margin: 0;
    color: var(--accent2-color);
   
}

section p {
    padding: 20px;
    
    background-color: beige;
}

section h3 {
    padding: 10px;
    margin: 0;
    color: var(--accent2-color);
}

.hero {
    position: relative;
}

.hero img {

    width: 100%;

}

.hero h1 {
    position: absolute;
    top: 50px;
    left: 20px;
    right: 20px;
    text-align: center;
    padding: .5em 0;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    opacity: 0.6;
    font-size: 1rem;
}


.sociallinks a {
    text-decoration: none;
}

.sociallinks img {
    width: 60px;
}

.sociallinks img:hover  {
    background-color: #d7ebfc;
}

article p {
    /* position: absolute; */
    padding: 10px;
    top: 450px;
    /* border: 2px solid black; */
    /* width: 700px; */
    text-align: justify;
    font-weight: bold;
}

.hero article .happymoment {
    float: right;
    width: 200px;
    padding: 5px;
    margin: 3px;
}

footer p {
    padding: 2px;
    margin: 0;
}

article {
    padding: 20px;
    position: absolute;
    top: 150px;
    left: 20px;
    right: 20px;
    background-color: var(--accent1-color);
    opacity: 0.8;
}

figcaption {
    padding: 10px;
    color: #39a9db;
    display: block;
    font-weight: 700;
}



header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
   
   
}

.logo {
    grid-column: 1;
    padding: 10px;
    width: 100px;
}

.links {
    grid-column: 2;
    display: flex;
    justify-content: space-around;
    background-color: var(--nav-background-color);
}
.links a {
    text-decoration: none;
    padding: 1em;
    color: var(--nav-link-color);
    font-weight: 700;
}
.links a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

figure {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
    width: 230px;
    flex-wrap: wrap;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #0d0669;
    margin: auto;
    text-align: center;
    color: white;
    font-weight: bold;

}

.sociallinks {
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: 800;
    text-decoration: none;

}



footer nav {
    display: block;

}

.oldpic {
    float: right;
    width: 300px;
}

main h1 {
    text-align: center;
    background-color: #1C77C3;
    color: white;
}

strong {
    color: black;
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 0 auto;

}

.address, .phone, .email {
    width: 150px;
    display: inline;
    justify-content: space-around;

}

.map {
    text-align: center;
    padding: 2px;
    margin: 0;
}

form {
    max-width: 800px;
    background-color:#eee ;
    border: 1px;
    width: 650px;
    padding: 5px;
    border-radius: 0.5rem ;
    display: grid;
    box-sizing: border-box;
    height: fit-content;
    margin: 0 auto;
}

fieldset {
    display: grid;
    grid-gap: .2rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2)
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;

    
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border-radius: .5rem;
    padding: .75px;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

label {
    font-weight: 700;
    
}

input[type="radio"] {
    height: 22px;
    width: 22px;
}

.radio {
    display: block;
    padding: 10px;
}


.trips-description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 20px;
}

.trips-description img{
    width: 100%;
    border-radius: 10px 10px;
}

.trips-description h2 {
    color: #1C77C3;
    font-family: "Roboto", sans-serif;
    text-align: center;
}



.trip1, .trip2, .trip3 {
    background-color: rgb(246, 246, 248);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding: 40px 20px;
    margin-bottom: 20px;
}

.cta-button {
    background-color: var(--nav-background-color);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.cta-button:hover {
    color: #F39237;
}

.cta p {
    color: black;
    font-family: "Roboto", sans-serif;
}


.trip-table h3{
    font-family: "Roboto",sans-serif ;
    color: var(--primary-color);
    font-size: 30px;
    padding: 10px;
}

.trip-table table {
    border: 2px solid rgb(140 140 140);
    font-family:"Roboto", sans-serif;
    width: 100%;
    border-radius: 10px 10px;
}

thead > tr {
    background-color: var(--secondary-color);
    padding: 5px;

}

th, td {
    border: 1px solid black;
    padding: 15px 15px;
}

.home h1 {
    position: absolute;
    width: 1000px;
    text-align: center;
    padding: 50px;
    opacity: 0.8;
    background-color:black ;
    bottom: 300px;
    font-size: 50px;
    
}

.sub-heading {
    background-color:black;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    width: 300px;
    position:absolute;
    bottom:50px ;
    text-align: center;
    background-color: var(--nav-background-color);
}

/* .home img {
    
} */
.homeh3 {
    font-family: "Roboto", sans-serif;
    color: white;
    padding-bottom: 30px;
    font-size: 30px;

}

.newsletter p {
    text-align: center;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
}

.newsletter h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: var(--nav-background-color);
}

.newsletter {
    /* max-width:500px; */
    box-sizing: border-box;
    border: 1px solid rgba(8, 8, 8, 0.1);
    padding: 50px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.newsletter button {
    width: 200px;
    text-align: center;
    height: 50px;
    margin: 0 auto;
    
}

.newsletter input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.newsletter input {
    padding: 10px;
}

.newsletter label {
    padding: 10px;
}



.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 20px;
}

.offering {
    background-color: rgb(246, 246, 248);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.offering img {
    border-radius: 15px;
    padding: 10px 10px;
    width: 450px;
    height: 300px;
}
.grid p {
    font-family: "Roboto", sans-serif;
    background-color: beige;
}