@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box; 
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #dfdddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"],
textarea,
select,
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffff;
}

button[type="submit"] {
    background-color: #1133af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: green;
}

label {
    display: block;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 30px;
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 15px;
    background-color: #333;
}

.content {
    padding: 1px;
}

